
.bronze, .platinum, .silver, .gold {
    margin: 40px; 
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.sponsors_heading {
    font-size: 64px;
    font-weight: 600;
    color: white;
    margin-bottom: 20px;
}


.sponsor_list_platinum{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
    align-items: center;
    row-gap : 24px; 
    column-gap: 60px;
}

.sponsor_list_gold {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
    align-items: center;
    row-gap : 24px; 
    column-gap: 60px;
}

.sponsor_list_silver {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
    justify-content: center;
    align-items: center;
    margin-left:50px;
    margin-right: 50px;
    row-gap : 32px; 
    column-gap: 150px;
}

.sponsor_list_bronze{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
    align-items: center;
    margin-left:50px;
    margin-right: 50px;
    row-gap : 32px; 
    column-gap: 150px;
}

@media screen and (max-width: 900px) {
    .sponsors_heading{
        font-size: 48px; 
    }
}

@media screen and (max-width: 600px) {
    .sponsors_heading{
        font-size: 28px; 
    }

    .sponsor_list_platinum, .sponsor_list_gold {
        grid-template-columns: 1fr;
    }

    .sponsor_list_silver {
        grid-template-columns: 1fr 1fr;
    } 
    .sponsor_list_bronze {
        grid-template-columns: 1fr 1fr 1fr;
    }
}