.AboutUs {
  background-image: url(../../assets/bgDarkened.svg);
  width: 100%;
  background-repeat: no-repeat;
}

.glassBg {
  background-image: url(../../assets/glass-card.svg);
  background-repeat: no-repeat;
}
