
.container{
    width:90vw;
    margin:auto;
    align-items: center;
    background-image: linear-gradient(148.79deg, rgba(12, 143, 146, 0.5) 7.08%, rgba(47, 11, 88, 0.4) 84.13%);
      border-radius: 25px;
      box-shadow: 5px 5px 25px 25px rgba(0, 0, 0, 0.1);
      margin-top: 80px;
      margin-bottom: 80px;
     opacity:0.9;
    }
.AboutUs{
  padding-top: 5.5%;
}
.txt{
   color: rgba(255, 255, 255, 1);
  
}