.loader-section {
    width: 100vw; 
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* background: rgb(38,33,130);
    background: linear-gradient(90deg, rgb(18 23 100 / 95%) 0%, rgba(11,11,116,0.8102591378348214) 35%, rgb(21 30 124) 100%); */
    background-image: linear-gradient(to right, #0f0c29, #302b63, #24243e);
    background-image: url(../../assets/Loader.svg);
    background-size: cover;
    background-repeat: no-repeat;
}

.hackodisha-name {
    font-size: 32px;
    margin-left: 42px; 
    font-weight: 600;
}
.loader {
    position: relative;
    width: 60px;
    border-radius: 50%;
    margin: 40px;
    display: inline-block;
    vertical-align: middle;
}

.loader-17 .css-square { 
    position: absolute;
    top: 50%;
    width: 25px; height: 7px;
  background: white;
  -webkit-box-shadow: 2px 2px 3px 0px black;
          box-shadow: 2px 2px 3px 0px black;
 }

  
  .loader-17 .square1 {
      left: 70px;
      -webkit-animation: dominos 1s 0.125s ease infinite;
      animation: dominos 1s 0.125s ease infinite;
  }
  
  .loader-17 .square2 {
      left: 60px;
      -webkit-animation: dominos 1s 0.3s ease infinite;
      animation: dominos 1s 0.3s ease infinite;
  }
  
  .loader-17 .square3 {
      left: 50px;
      -webkit-animation: dominos 1s 0.425s ease infinite;
      animation: dominos 1s 0.425s ease infinite;
  }
  
  .loader-17 .square4 {
      left: 40px;
      -webkit-animation: dominos 1s 0.540s ease infinite;
      animation: dominos 1s 0.540s ease infinite;
  }
  
  .loader-17 .square5 {
      left: 30px;
      -webkit-animation: dominos 1s 0.665s ease infinite;
      animation: dominos 1s 0.665s ease infinite;
  }
  
  .loader-17 .square6 {
      left: 20px;
      -webkit-animation: dominos 1s 0.79s ease infinite;
      animation: dominos 1s 0.79s ease infinite;
  }
  
  .loader-17 .square7 {
      left: 10px;
      -webkit-animation: dominos 1s 0.9s ease infinite;
      animation: dominos 1s 0.9s ease infinite;
  }
  
  .loader-17 .square8 {
      left: 0px;
      -webkit-animation: dominos 1s 1s ease infinite;
      animation: dominos 1s 1s ease infinite;
  }


  @-webkit-keyframes dominos {
    50% { opacity: 0.7; }
    75% { -webkit-transform: rotate(90deg); transform: rotate(90deg); }
    80% { opacity: 1; } 
   }
      
  
   @keyframes dominos {
    50% { opacity: 0.7; }
    75% { -webkit-transform: rotate(90deg); transform: rotate(90deg); }
    80% { opacity: 1; } 
   }