.contents {
    padding: 0.8rem 0.5rem;
  }
  
  .content-section {
    flex-direction: column;
    padding: 2px 0;
  }
  .container-schedule {
    display: block;
    width: 100%;
    /* max-width: 1280px; */
    margin: 0 auto;
  }
  .daily-schedule {
    margin-bottom: 1rem;
    margin: 1rem;
  
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
  }
  .single-event {
    display: flex;
    flex-direction: row;
    margin-top: 0.6rem;
  }
  .date-time {
    background-color: #222;
    display: flex;
    flex-direction: column;
    padding: 1rem 1rem 1rem 5rem;
    text-align: left;
    white-space: wrap;
    color: #fff;
  }
  .date {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    color: #fff;
  }
  
  .time {
    font-size: 1.2rem;
    font-weight: 700;
  }
  .Hackathon {
    /* font-size: 100%; */
    font: inherit;
    /* vertical-align: baseline; */
    border-left: 5px solid #ff0000;
  }
  .description {
    padding-left: 2rem;
    background-color: #333;
    flex: 1;
    color: #fff;
    display: flex;
    justify-content: space-between;
    /* margin-left: 1rem; */
    text-align: left;
    overflow: hidden;
  }
  
  .title {
    font-size: 1.1rem;
    letter-spacing: 0.1rem;
    font-weight: 699;
  }
  
  .name {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
  }
  
  .speaker {
    display: flex;
    align-items: center;
  }
  
  .details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    line-height: 1.5rem;
  }
  
  @media (max-width: 767px) {
    .daily-schedule {
      padding: 0;
      margin: 0;
    }
    .content-section .contents .single-event .date-time {
      padding: 0.9rem;
      width:20%;
    }
    .Hackathon {
      border-left: 2px solid #ff0000;
    }
    .description {
      padding-left: 0.8rem;
    }
  }