.App{
    background-image: url(./assets/bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}


.blob{
	background-image: url(./assets/Bgsec.png);
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
}
body::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
	border-radius: 10px;
}

body::-webkit-scrollbar
{
	width: 10px;
	background-color: #F5F5F5;
}

body::-webkit-scrollbar-thumb
{
	background-color: rgb(34, 88, 213);
	border-radius: 10px;
	background-image: -webkit-linear-gradient(90deg,
	                                          rgba(0, 0, 0, .2) 25%,
											  transparent 25%,
											  transparent 50%,
											  rgba(0, 0, 0, .2) 50%,
											  rgba(0, 0, 0, .2) 75%,
											  transparent 75%,
											  transparent)
}